<select
  class="{{theme-css-class}}"
  {{#autofocus}}autofocus{{/autofocus}}
  {{#disabled}}disabled{{/disabled}}
  {{#multiple}}multiple{{/multiple}}
  {{#required}}required{{/required}}
  {{#form}}form="{{form}}"{{/form}}
  {{#name}}name="{{name}}"{{/name}}
  {{#size}}size="{{size}}"{{/size}}
  {{#onchange}}onchange="{{onchange}}"{{/onchange}}
  >
  {{#data}}
    <option
    {{#disabled}}disabled{{/disabled}}
    {{#selected}}selected{{/selected}}
    {{#label}}label={{label}} {{^value}}value={{label}}{{/value}}{{/label}}
    {{#value}}value={{value}}{{/value}}
    {{^label}}label={{.}} value={{.}}{{/label}}
    >
      {{label}}
    </option>
  {{/data}}
</select>
