body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #006775;
  color: #DDD;
  height: 100%;
  width: 100%;
  display: flex;
}
#info, #info a {
  padding: 17px;
}
div#tools {
  width: 550px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
select#components {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  flex: 0 0 40px;
}
div#ui {
  width: 100%;
  overflow: auto;
  background-color: #444;
}
/* **************************** */
/* stage and rendered component */
/* **************************** */

#stage {
  align-items: center;
  justify-content: center;
  margin: auto;
}
#stage .prodotype-preview {
  display: none;
}
.show-preview #stage .prodotype-preview {
  display: block;
}
.show-preview #stage .prodotype-runtime {
  display: none;
}
#stage .prodotype-force-size {
  position: absolute;
  top: 25%;
  left: 62%;
  width: 25%;
  height: 50%;
}

/* ******* */
/* editor */
/* ******* */

/* header */
#ui .description-container {
  display: flex;
}
#ui .description-container .description {
  flex: 1 1 auto;
}
#ui .description-container .help {
  border-radius: 50%;
  background: none;
  color: #DDD;
  border: 1px solid #DDD;
  margin: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#ui .description-container .help:hover {
  background-color: darkgrey;
}
/* ******* */
/* properties */
/* ******* */
#ui .editor > ul {
  border-bottom: 1px solid #2F2F2F;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
#ui .prop-editor-base {
  border-top: 1px solid #2F2F2F;
  width: 100%;
}
#ui .prop-editor-base.half-col {
  flex: 1;
  margin-right: 10px;
  margin-left: 0px;
}
#ui .prop-editor-base.prop-editor-expand {
  margin-bottom: 20px;
}
/* all inputs centered */
#ui .prop-editor-base .prop-editor-container {
  text-align: center;
  padding: 10px;
}
#ui .prop-editor-base .prop-editor-container .sub-editors .prop-editor-name {
  text-align: left;
}
/* */
#ui .prop-editor-base .prop-editor-description {
  padding: 12px
}
#ui .prop-editor-base .prop-editor-name .fa {
  cursor: pointer;
}
#ui .prop-editor-base .prop-editor-name {
  display: block;
  padding: 10px 5px;
  cursor: pointer;
}
#ui .prop-editor-base .prop-editor-container > input,
#ui .prop-editor-base .prop-editor-container > select {
  background-color: #2F2F2F;
  border: 1px solid #2A2A2A;
  box-shadow: 1px 1px 0 #535353;
  color: #DDD;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0;
  line-height: 2;
  width: 100%;
  height: 35px;
}
#ui .prop-editor-base .prop-editor-container .toggle-button {
  min-height: 50px;
  width: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #2F2F2F;
  border-color: #2A2A2A;
  border-style: solid;
  border-left-style: none;
  cursor: pointer;
}
#ui .prop-editor-base .prop-editor-container .toggle-button:focus {
  border-left-style: solid;
  border-radius: 5px 0 0 5px;
}
#ui .prop-editor-base .prop-editor-container .toggle-button:first-of-type {
  border-left-style: solid;
  border-radius: 5px 0 0 5px;
}
#ui .prop-editor-base .prop-editor-container .toggle-button:last-of-type {
  border-radius: 0 5px 5px 0;
}
#ui .prop-editor-base .prop-editor-container .toggle-button:hover {
  border: 1px solid #535353;
}
#ui .prop-editor-base .prop-editor-container .toggle-button[data-selected=true] {
  background-color: #535353;
}
#ui .prop-editor-base .prop-editor-container > input[type=number] {
}
#ui .prop-editor-base .prop-editor-container > input[type=checkbox] {
  width: auto;
  height: auto;
}
#ui .prop-editor-base .prop-editor-container > input[type=color] {
}
#ui .prop-editor-base .image-preview {
  min-width: 100px;
  min-height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid;
}
#ui .prop-editor-base.number-editor .prop-editor-container input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
#ui .prop-editor-base.number-editor .prop-editor-container .unit-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  margin-left: -35px;
  padding: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: auto;
}
/* array of object editor */
#ui .prop-editor-base .sub-editors-container .sub-editors {
  border-bottom: 1px solid #2F2F2F;
  margin-bottom: 9px;

}
#ui .prop-editor-base .sub-editors-container {
  width: 90%;
  border-bottom: 1px solid #2F2F2F;
  border-left: 1px solid #2F2F2F;
  border-right: 1px solid #2F2F2F;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-left: 25px;
}
#ui .prop-editor-base .btn {
  width: 90%;
  cursor: pointer;
  display: inline;
  margin: 10px;
  opacity: .8;
}
#ui .prop-editor-base .btn:hover {
  opacity: 1;
}
#ui .prop-editor-base .add-btn {
}
